
* {
	font-family: arial, Verdana, sans-serif;
	color: #665544;
}

header, h2, h3, h4, .overview {
	text-align: center;
}

h1 {
	font-family: Chalkduster, fantasy;
}

nav {
	background-color: #e8e0d9;
	padding: 10px;
	margin: 10px;
}

nav li {
	display: inline;
	padding: 5px;
}

body {
	width: 960px;
	margin: 0 auto;
}

main {
	background-color: #e8e0d9;
	padding: 10px;
	margin: 10px;
	text-align: left;
}

article {
	background-color: #e8e0d9;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

dt {
	font-weight: 700;
}

.female {
	background-color: #ffebe8;
	padding: 10px;
	margin: 10px;
	width: 440px;
	float: left;
}

.male {
	background-color: #dbedff;
	padding: 10px;
	margin: 10px;
	width: 440px;
	float: left;
}

.factor1, .factor2, .factor3 {
	padding: 10px;
	margin: 10px;
	width: auto;
}



