
* {
	font-family: arial, Verdana, sans-serif;
	color: #665544;
}

body {
	width: 960px;
	margin: 0 auto;
	border: groove;
}

header, main, h2, h3, h4 {
	text-align: center;
}

h1 {
	font-family: Chalkduster, fantasy;
}

nav {
	background-color: #e8e0d9;
	padding: 10px;
	margin: 10px;
}

nav li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;

}

main {
	background-color: #e8e0d9;
	padding: 10px;
	margin: 10px;
}


.factor, .con, .help, .ref {
	text-align: left;
}


article {
	background-color: #e8e0d9;
	
}

.female {
	background-color: #ffebe8;
	padding: 10px;
	margin: 10px;
	width: 440px;
	float: left;
}

.male {
	background-color: #dbedff;
	padding: 10px;
	margin: 10px;
	width: 440px;
	float: left;
}

.factor1, .factor2, .factor3 {
	padding: 10px;
	margin: 10px;
	width: auto;
}



